.nav {
  grid-area: n;
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  background-color: rgb(179, 179, 179);
}

.item a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.item:not(:last-child) {
  margin-bottom: 15px;
}

.item.active a {
  color:rgb(114, 114, 114);
}