.app-wrapper {
  display: grid;
  margin: 0 auto;
  grid-template-areas: "h h" "n c";
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 10fr;
}

.content-wrapper {
  background-color: bisque;
}

.list-reset {
  list-style: none;
}